#home {
    min-height: 100vh;
}
#home .hero-content-wrapper, #home .hero-image-wrapper{
    padding: 0 1rem;
}
.hero-image-wrapper {
    display: flex;
    vertical-align: middle;
}

.hero-content-wrapper .ud-hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#home .ud-hero-desc {
    padding-left: 0;
    margin: 0 auto;
}

#home .ud-main-btn {
    margin: 1rem 0;
}

#coreAreas .ud-single-feature .ud-feature-desc {
    margin-bottom: 0;
}

#coreAreas .ud-about-wrapper {
    border-radius: 25px;
}

@media (min-width: 991.99px) {
    .text-left {
        text-align: left !important;
        justify-content: flex-start !important;
    }
    #home .ud-hero-desc {
        margin: 0;
    }
}

#features .ud-about-image {
    margin: 0 auto;
    display: flex; flex-wrap: wrap; align-content: center;
}
#features .ud-about-image img {
    width: auto;
}

/* Mods for Consulting page --previous index.html */

p.ud-widget-desc {
    max-width: 400px !important;
}
.ud-widget .ud-widget-socials a {
    font-size: 25px;
}
.marginB1Rem {
    margin-bottom: 1.5rem;
}
.servicesTitle{
    width: 100%;
    max-width: 900px;
}
#services .ud-about-wrapper {
    align-items: center;
    border: 1px solid rgb(0, 1, 236);
    border-radius: 25px 25px 0 0;
    box-shadow: rgb(0 1 236) 0px 8px 8px -7px;
}

.servicesRow {
    position: relative;
    margin-bottom: 1.5rem;
}

#services .servicesRow::after {
    content: "";
    border-radius: 50px 0px 0px 0;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background-color: rgb(0, 1, 236);
    border: 1px solid rgb(0, 1, 236);
    position: absolute;
    transition: none;
}

#services .servicesRow:nth-child(odd)::after {
    left:0;
    border-radius: 0px 50px 0px 0;
}

#inAnutshell .ud-feature-icon {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

#inAnutshell .ud-single-feature, #coreAreas .ud-single-feature {
    margin-bottom: 0;
    padding: 25px;
    border: 1px solid rgb(0, 1, 236);
    border-radius: 25px;
    box-shadow: 0 8px 8px -7px rgb(0, 1, 236);
    transition: margin-top 0.2s;
    margin-bottom: 1.5rem;
    text-align: center;
}

#inAnutshell .ud-single-feature:hover {
    margin-top: -20px;
}
#coreAreas .ud-single-feature:hover {
    margin-top: -10px;
}

#CTA {
    background: -webkit-gradient(linear, left top, left bottom, from(#3056d3), to(#179bee));
    background: linear-gradient(180deg, #3056d3 0%, #179bee 100%);
    border: none;
    padding: 55px 30px;
    position: relative;
    z-index: 999 ;
}

#CTA h2, #CTA p {
    color: #fff;
}

a.ctaBtn {
    background: white;
    padding: 0.75em 1.75em;
    border-radius: 0.35em;
    margin-top: 1em;
}

a.ctaBtn:hover {
    background-color: #000;
    color: #fff;
}

#CTA .ud-section-title {
    margin: 2rem 0;
}

.ud-brands .ud-title {
    margin-bottom: 10px;
}

@media (max-width: 990px) {
    #services .ud-about-image {
        display: none;
    }
}

#coreAreas .ud-single-feature {
    padding: 2rem;
}

.usecasewrap {
    padding: 1rem;
    position: relative;
}

.usecasehead {
    position: absolute;
    background-color: blue;
    border-radius: 1rem 0 0 1rem;
    margin-left: 1rem;
    top: 0.3rem;
    right: 1rem;
    padding: 0.1rem 1.5rem;
    border: 1px solid blue;
}

.usecasehead:nth-child(even){
    left: 0;
}

.usecasehead p {
    color: white;
    font-weight: bold;
}

.usecasedesc {
    border: 1px solid blue;
    padding: 1.5rem 1rem 1rem 1rem;
    border-radius: 1rem 0 0 0;
}