:root {
    --o2blue: #315dec;
    --o2bluelight: #4bdefe;
    --o2orange: #f15a2a;
    --o2orangelight: #fea903;
    --o2purple: #4a1fbe;
  }

#home {
    min-height: 100vh;
}
#home .hero-content-wrapper, #home .hero-image-wrapper{
    padding: 0 1rem;
}
.hero-image-wrapper {
    display: flex;
    vertical-align: middle;
}

.hero-content-wrapper .ud-hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#home .ud-hero-desc {
    padding-left: 0;
    margin: 0 auto;
}

#home .ud-main-btn {
    margin: 1rem 0;
}

#coreAreas .ud-single-feature .ud-feature-desc {
    margin-bottom: 0;
}

#coreAreas .ud-about-wrapper {
    border-radius: 25px;
}

@media (min-width: 991.99px) {
    .text-left {
        text-align: left !important;
        justify-content: flex-start !important;
    }
    #home.training .ud-hero-desc {
        margin: 0;
    }
}

#features .ud-about-image {
    margin: 0 auto;
    display: flex; flex-wrap: wrap; align-content: center;
}
#features .ud-about-image img {
    width: auto;
}

/* Mods for Consulting page --previous index.html */

p.ud-widget-desc {
    max-width: 400px !important;
}
.ud-widget .ud-widget-socials a {
    font-size: 25px;
}
.marginB1Rem {
    margin-bottom: 1.5rem;
}
.servicesTitle{
    width: 100%;
    max-width: 900px;
}
#services .ud-about-wrapper, #features .ud-about-wrapper  {
    align-items: center;
    border: 1px solid var(--o2purple);
    border-radius: 25px 25px 0 0;
    box-shadow: var(--o2purple) 0px 8px 8px -7px;
}

.servicesRow {
    position: relative;
    margin-bottom: 1.5rem;
}

#services .servicesRow::after {
    content: "";
    border-radius: 50px 0px 0px 0;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background-color: rgb(0, 1, 236);
    border: 1px solid rgb(0, 1, 236);
    position: absolute;
    transition: none;
}

#services .servicesRow:nth-child(odd)::after {
    left:0;
    border-radius: 0px 50px 0px 0;
}

#inAnutshell .ud-feature-icon {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

#inAnutshell .ud-single-feature, #coreAreas .ud-single-feature {
    margin-bottom: 0;
    padding: 25px;
    border: 1px solid rgb(0, 1, 236);
    border-radius: 25px;
    box-shadow: 0 8px 8px -7px rgb(0, 1, 236);
    transition: margin-top 0.2s;
    margin-bottom: 1.5rem;
    text-align: center;
}

#inAnutshell .ud-single-feature:hover {
    margin-top: -20px;
}

#CTA, #careers {
    background: -webkit-gradient(linear, left top, left bottom, from(#3056d3), to(#179bee));
    background: linear-gradient(180deg, #3056d3 0%, #179bee 100%);
    border: none;
    padding: 55px 30px;
    position: relative;
    z-index: 999 ;
}

#CTA h2, #CTA p, #careers h2, #careers p  {
    color: #fff;
}

a.ctaBtn {
    background: white;
    padding: 0.75em 1.75em;
    border-radius: 0.35em;
    margin-top: 1em;
}

a.ctaBtn:hover {
    background-color: #000;
    color: #fff;
}

#CTA .ud-section-title {
    margin: 2rem 0;
}

.ud-brands .ud-title {
    margin-bottom: 10px;
}

@media (max-width: 990px) {
    #services .ud-about-image {
        display: none;
    }
}

#coreAreas .ud-single-feature {
    padding: 2rem;
    transition: all 0.5s;
}

.usecasewrap {
    padding: 1rem;
    position: relative;
}

.usecasehead {
    position: absolute;
    background-color: var(--o2purple);
    border-radius: 1rem 0 0 1rem;
    margin-left: 1rem;
    top: 0.3rem;
    right: 1rem;
    padding: 0.1rem 1.5rem;
    border: 1px solid var(--o2purple);
}

.usecasehead:nth-child(even){
    left: 0;
}

.usecasehead p {
    color: white;
    font-weight: bold;
}

.usecasedesc {
    border: 1px solid var(--o2purple);
    padding: 1.5rem 1rem 1rem 1rem;
    border-radius: 1rem 0 0 0;
}
#product {
    background-image: url(/assets/images/hero/DataAnalysis-scaled.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    position: relative;
}
#product .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

#product .container {
    position: inherit;
    z-index: 9;
}

#product h2, #product h4 {
    color: var(--o2white);
}

h1, h2, h3, h4 {
    color: var(--o2blue);
}
.productCTA {
    background-color: var(--o2orange);
}
#home .ud-link-btn {
    background: none;
}

.serviceWrapper {
    margin-top: 2rem;
}

.serviceCard {
    border-radius: 25px;
    border: 1px solid var(--o2purple);
    padding: 2rem;
    height: 100%;
    cursor: pointer;
    transition: all 0.5s;
}
.serviceCard p {
    margin-top: 1rem;
}

#coreAreas .ud-single-feature:hover, .serviceCard:hover {
    background-color: var(--o2blue);
    border: 1px solid var(--o2blue);
    color:#fff;
}
#coreAreas .ud-single-feature:hover h3, #coreAreas .ud-single-feature:hover p, .serviceCard:hover p, .serviceCard:hover h4 {
    color: var(--o2white);
}
.serviceCard .ud-main-btn {
    margin-top: 1rem;
    padding: 10px 15px;
}

#careers .ud-section-title {
    margin-bottom: 20px;
}